/* -- common style -- */
.pos-relative{
	position: relative;
}

.auto-overflow{
	overflow: auto;
}

.cover{
	min-height: 300px;
	line-height: 0;
	height: auto;
	padding-top: 40px;
	color: white;
	text-align: center;
	margin-bottom: 40px;
}


